@include desktop-medium {
    .zoneLink {
        & ul {
          left: 96%;
          
      
          & li {
            & a:hover {
              transform: translate(-45px);
              right: -45px;
            }
          }
        }
      }
}