@include desktop {
  body {
    width: 70%;
    height: auto;
    z-index: -2;
  }

  header {
    & .title {
      position: absolute;
      top: -30%;
      z-index: 1;

      & h1 {
        @include fontKanit600(50px, $secondary-color);
      }
    }

    & h2 {
      margin-top: 65px;
      margin-bottom: 10px;
      @include fontKanit500(30px, $white);
    }
  }

  main {
    width: 85%;
    padding-top: 30px;
    padding-bottom: 30px;

    & .zoneOptions {
      & p {
        @include fontKanit400(20px, $white);
        padding: 10px 0;
      }

      & .optionSource {
        padding-bottom: 15px;
        & label {
          position: relative;
          @include fontKanit400(20px, $white);
          margin-right: 25px;
        }
      }
    }

    & .zoneProposition {
      @include fontKanit400(35px, $secondary-color);
      width: 95%;
      margin: 10px 0;
    }

    & .zoneScore {
      @include fontKanit400(30px, $white);
      margin: 10px;
    }

    & .zoneSaisie {
      & input[type="text"] {
        outline: none;
        @include fontKanit400(26px, $secondary-color);
      }
    }

    button {
      padding: 5px 15px;
      @include fontKanit500(25px, $secondary-color);
    }
    button::before {
      transform: skewX(45deg) translateX(-80px);
    }

    button:hover::before {
      transform: skewX(45deg) translateX(150px);
    }
  }

  .zoneLink {
    & ul {
      position: absolute;
      @include flex-column-center-center;
      left: 95%;
      bottom: 160px;

      & li {
        & a {
          top: 0;
          right: 0;
          z-index: 0;
          transition: right 0.6s, z-index 0s, transform 0.6s;
          transition-delay: 0.4s, 0.4s, 0s;
        }
        & a:hover {
          transition-delay: 0s, 0.5s, 0.5s;
          transform: translate(-38px);
          right: -38px;
          z-index: 2;
        }
      }
    }
  }
}
