@include desktop-medium {
    .zoneLink {
        & ul {
          bottom: 130px;
          left: 885px;
      
          & li {
            & a:hover {
              transform: translate(-45px);
              right: -45px;
            }
          }
        }
      }
}