// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés à l'en-tête du site/de l'application.
// -----------------------------------------------------------------------------

header {
  position: relative;
  @include flex-column-center-center;

  & .title {
    @include flex-center-center;
    position: relative;
    width: 330px;
    height: 60px;
    margin: 10px;
    @include title-glassmorphing;

    & h1 {
      @include fontKanit600(30px, $secondary-color);
      margin: 0;
    }
  }

  & h2 {
    @include fontKanit500(18px, $white);
  }
}
