main {
  position: relative;
  @include flex-column-center-center;
  @include container-glassmorphing;
  width: 95%;
  margin: 10px 0;
  padding: 10px;

  & .zoneOptions {
    position: relative;
    @include flex-column-center-center;

    & p {
      position: relative;
      @include flex-center-center;
      @include fontKanit300(15px, $white);
      padding: 0 10px;
      margin-bottom: 20px;
    }

    & .optionSource {
      position: relative;
      @include flex-row-center-center;
      gap: 5px;

      & label {
        position: relative;
        @include fontKanit400(15px, $white);
        margin-right: 10px;
      }
    }
  }
}
