.forme {
  & .circle1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0.4;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      250deg,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      250deg,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  & .circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 420px;
    right: 2px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    opacity: 0.4;
    background: #e55d87; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #5fc3e4,
      #e55d87
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #5fc3e4,
      #e55d87
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  & .circle3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 2px;
    @include container-glassmorphing;
    border-radius: 50%;
  }

  & .circle4 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.4;
    top: 350px;
    right: 60%;
    @include container-glassmorphing;
    border-radius: 50%;
  }
}
