// -----------------------------------------------------------------------------
// Ce fichier contient des styles très basiques.
// -----------------------------------------------------------------------------

/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */
 html {
  box-sizing: border-box;
}

/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden
}

body {
  @include flex-column-center-center;
  @include background-gradient;
  z-index: -2;
}

.main_container {
  position: relative;
  width: 100%;
  margin: 10px;
  padding: 0;
  @include flex-column-center;
  @include container-glassmorphing;
  z-index: 1;
}

input[type="radio"] {
  filter: grayscale(1); /* Grayscale passe le bouton en niveau de gris */
  cursor: pointer;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  font-size: 17px;
  color: $white;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: $white;
  opacity: 50%;
}
