// -----------------------------------------------------------------------------
// Ce fichier contient tous les mixins Glassmorphing.
// -----------------------------------------------------------------------------

@mixin button-glassmorphing {
    background: rgba(255, 255, 255, 0.1);
    border : 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

@mixin container-glassmorphing {
    background: rgba(255, 255, 255, 0.15);
    border : 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

@mixin title-glassmorphing {
    background: rgba(255, 255, 255, 0.18);
    border : 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

@mixin link-glassmorphing {
    background: rgba(255, 255, 255, 0.3);
    border : 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
