// -----------------------------------------------------------------------------
// Ce fichier contient toutes les variables Sass.
// -----------------------------------------------------------------------------

// Background-colors //

$main-color: #ff3cac;
$secondary-color: #784ba0;
$third-color: #2b86c5;

// Text-colors //

$white: #fff;
$black: #000;

// Breackpoints //

$breakpoint: (
  "mobile": 375px,
  "tablette": 768px,
  "desktop": 1024px,
  "desktop-medium": 1240px,
  "desktop-large": 1440px,
  "desktop-xlarge": 1800px,
  "desktop-4k": 2360px,
  "desktop-4k-2": 2560px
);
