// -----------------------------------------------------------------------------
// Ce fichier contient toutes les variables Sass.
// -----------------------------------------------------------------------------


// Background-colors //

$main-color: #ff3cac;
$secondary-color: #784ba0;
$third-color: #2b86c5;

// Text-colors //

$white: #fff;
$black: #000;

